doctype html
html
  head
    meta(charset='UTF-8')
    | &#x9;&#x9;
    link(href='/css/main.css', rel='stylesheet', type='text/css')
    | &#x9;&#x9;
    title Alyssa P. Hacker&apos;s homepage
  | &#x9;
  body
    h1 Alyssa P. Hacker&apos;s homepage
    |                 
    nav
      ul
        li Homepage
        |                                 
        li
          a(href='/projects') Projects
        |                         
        ul
    | &#x9;&#x9;
    p
      | This is the homepage of Alyssa P. Hacker. You can check out the projects I&apos;ve worked on 
      a(href='/projects') here
      | .
    | &#x9;&#x9;
    footer
      p &copy; Copyright 2016 Alyssa P. Hacker.
    | &#x9;&#x9;
    script(src='/js/main.js', type='text/javascript')
