doctype html
html
  head
    meta(charset='UTF-8')
    | &#x9;&#x9;
    link(href='/css/main.css', rel='stylesheet', type='text/css')
    | &#x9;&#x9;
    title Alyssa P. Hacker&apos;s projects
  | &#x9;
  body
    h1 Alyssa P. Hacker&apos;s projects
    | &#x9;&#x9;
    nav
      ul
        li
          a(href='/') Homepage
        | &#x9;&#x9;&#x9;&#x9;
        li Projects
        | &#x9;&#x9;&#x9;
        ul
    | &#x9;&#x9;
    p
      | My main project right now is 
      a(href='https://github.com/straticjs') StraticJS
      | .
    | &#x9;&#x9;
    footer
      p &copy; Copyright 2016 Alyssa P. Hacker.
    | &#x9;&#x9;
    script(src='/js/main.js', type='text/javascript')
