extends includes/layout.pug

block head
  title Alyssa P. Hacker's projects

block heading
  h1 Alyssa P. Hacker's projects

block nav-projects
  li Projects

block body
  p My main project right now is #[a(href='https://github.com/straticjs') StraticJS].
